html, body, #game, #ui {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

body, .button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
}

#ui {
  position: absolute;
  background-color: transparent;
  justify-content: start;
  align-items: flex-start;
  pointer-events: none;
}

.invisible { display: none !important; }

.faded {
  transition: opacity 50ms;
  opacity: 0.5;
}

.faded:hover {
  opacity: 1;
}

.panel {
  padding: 16px;
  background-color: rgba(32, 37, 41, 0.4);
  border-radius: 10px;
  color: #F3F5F8;
  text-align: center;
  pointer-events: all;
}

.panel>.title {
  font-style: italic;
  color: rgba(243, 245, 248, 0.5);
  padding-bottom: 10px;
  user-select: none;
}

.panel+.panel{
  margin-top:20px;
}

.button {
  padding: 10px 20px;
  text-align: center;
  background-color: #4C555C;
  border: 1px solid #32383D;
  color: #F3F5F8;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  transition: all 100ms;
}

.button:hover {
  background-color: #32383D;
}

.button.selected {
  background-color: #1EA8C9;
}

.button.stop {
  margin-top: 5px;
  background-color: #BF1755;
}

.button.stop:hover {
  background-color: #A6143B
}

.name-label {
  font-size: 24px;
  font-weight: bold;
  color:#F3F5F8;
  text-align: center;
  opacity: 1;
  transition: opacity 0.1s;
  pointer-events: all;
  user-select: none;
}

.name-label:hover {
  opacity: 0.1;
}

div.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.left {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  margin: 20px;
  left: 0;
  top: 0;
  bottom: 0;
}

div.right {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  right: 0;
  top: 0;
  bottom: 0;
}

div.top {
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
}

div.bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
}

.space {
  display: flex;
  flex:1;
}

#bg-color-selector {
  display: flex;
  pointer-events: all;
}

div.dot {
  width: 12px;
  height: 12px;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 12px;
  margin: 2px;
  opacity: 0.5;
  transition: opacity 250ms;
}

div.dot:hover {
  opacity: 1;
}

div.dot.selected {
  opacity: 1;
  border-color: rgba(255, 255, 255, 0.6);
}